<div *ngIf="cargados">
  <div class="card">
    <div class="card-header">
      <h1>{{producto.nombre}}</h1>
    </div>

    <div class="card-body">
      <div class="producto">
        <div class=""><img src="assets/img/{{ producto.imagen }}" alt=""></div>
        <p> Precio: {{producto.precio}}</p>
        <p> Descripcion: {{producto.descripcion}}</p>

      <button type="button" class="btn btn-outline-primary" (click)="addProductoCarro(producto.id)">Comprar</button>
      
      </div>
      
    </div>

  </div>
</div>